:root
  --box-background-color #d8d8d8
  --text-highlight-color #fccf73

body
  margin 0
  background-color #000

  &::-webkit-scrollbar
    width 0px
    height 0px

*
  user-select none
  -webkit-user-drag none
  user-drag none

::-webkit-scrollbar
  width 7px
  height 7px

::-webkit-scrollbar-track
  margin 20px 0
  background #c6c6c6

::-webkit-scrollbar-thumb
  background #545454

.box-slide-bottom-enter-active
.box-slide-bottom-leave-active
  transition opacity 1s, transform 0.35s ease-out

.box-slide-bottom-enter-from
.box-slide-bottom-leave-to
  opacity 0
  transform translateY(-5%)